:root {
  --light-text-color: #efefef;
  --dark-text-color: #000000;
  --secondary-text-color: rgb(123, 123, 123);
  --bgc-lightgray: #d6dbe3;
  --bgc-white: #ffffff;
  --primary-color: #3b82f6;
  --secondary-color: #ffbf2a;
  --dashboard-border-radius: 10px;
  --avatar-border-radius: 50%;
}
/*? #region reset */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
  background-color: var(--bgc-lightgray);
  height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
}
/* #endregion reset */

.layout-container {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 5fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}
header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  background-color: var(--bgc-white);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
/*? #region header-first-row */
.header-first-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding-top: 20px;
}
.first-row-search-icon {
  width: 25px;
  height: 25px;
  align-self: center;
  justify-self: flex-end;
  margin-right: 20px;
}
.header-first-row input {
  width: 100%;
  height: 30px;
  grid-column: 2 / 7;
  background-color: var(--bgc-lightgray);
  border: none;
  border-radius: 50px;
  align-self: center;
  justify-self: center;
  padding: 15px;
  font-size: 1.2rem;
}
.first-row-avatar-container {
  display: flex;
  align-items: center;
  grid-column: 7 / 10;
  justify-content: center;
}
.first-row-bell-icon {
  width: 30px;
  position: relative;
  right: 20px;
}
.first-row-avatar {
  border-radius: var(--avatar-border-radius);
  width: 50px;
  height: 50px;
}
.first-row-avatar-container p {
  position: relative;
  left: 20px;
  font-weight: bold;
  font-size: 1.4rem;
}
/* #endregion header-first-row */
/*? #region header-second-row */
.header-second-row {
  padding-top: 10px;
  padding-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.second-row-avatar-container {
  grid-column: 1 / 4;
  justify-self: center;
  display: flex;
}
.second-row-avatar-container img {
  width: 70px;
  border-radius: var(--avatar-border-radius);
  margin-right: 20px;
}
.second-row-avatar-name {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.second-row-actions-container {
  grid-column: 7 / 10;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
.second-row-actions-container button {
  width: 100px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: none;
  color: var(--light-text-color);
  font-size: 1rem;
}
/* #endregion header-second-row */
/*? #region sidebar */
nav {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 10%));
  background-color: var(--primary-color);
  color: var(--light-text-color);
}
nav a {
  color: var(--light-text-color);
}
nav ul {
  list-style: none;
  font-size: 1.2rem;
}
nav ul li {
  padding-bottom: 20px;
}
nav ul li a {
  display: inline;
  padding-left: 10px;
}
.logo-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-container p {
  padding-left: 10px;
  font-size: 1.5rem;
}
.nav-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 2px;
}
/* #endregion sidebar */

main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  padding: 30px;
}
/*? #region projects-container */
.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 20px auto;
  gap: 30px;
}
.projects-container > p {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.project-card {
  background-color: var(--bgc-white);
  border-radius: var(--dashboard-border-radius);
  border-left: 6px solid var(--secondary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.project-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.project-card-description {
  color: var(--secondary-text-color);
  margin-top: 10px;
}
.project-card-btn-group {
  align-self: flex-end;
  position: relative;
  top: 15px;
}
.project-card-btn-group button {
  background-color: var(--bgc-white);
  border: none;
}
.project-card-btn-group button:hover {
  cursor: pointer;
}
.project-card-btn-group button img {
  width: 30px;
}
/* #endregion projects-container */

/*? #region announcements-container */
.announcements-container {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--bgc-white);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px;
  border-radius: var(--dashboard-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.announcements-container > p {
  font-size: 1.6rem;
  position: relative;
  bottom: 50px;
  right: 10px;
}
.divider {
  border: 1px solid var(--bgc-lightgray);
}

.announcement {
  background-color: var(--bgc-white);
  border-radius: var(--dashboard-border-radius);
  padding: 10px;
}
.announcement-title {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.announcement-description {
  font-size: 0.9rem;
  margin-top: 10px;
  color: var(--secondary-text-color);
}
/* #endregion announcements-container */

/*? #region trending-container */
.trending-container {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--bgc-white);
  border-radius: var(--dashboard-border-radius);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.trending-container > p {
  font-size: 1.6rem;
  position: relative;
  bottom: 5px;
}
.trend {
  display: flex;
  flex-direction: row;
}
.trend img {
  width: 50px;
  border-radius: var(--avatar-border-radius);
  margin-right: 20px;
}
.trend-user {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.trend-summary {
  margin-top: 5px;
  color: var(--secondary-text-color);
}
/* #endregion trending-container */
